@media (min-width: 576px) and (max-width: 767px) {
	.app {
		&-main {
			.info-table {
				&-info-box {
					h2 {
						font-size: 3rem;
						color: var(--gray-2);
						text-transform: uppercase;
						letter-spacing: 1px;
					}
					p {
						font-size: 3rem;
						font-weight: 500;
					}
				}
			}
		}
	}
}
